.nav-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.nav-coins {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-coins > svg {
  margin-right: 10px;
}


.nav-links {
  display: flex;
  justify-content: space-evenly;
}

.nav-links > * {
    margin: 0 5px;
    text-decoration: none;
    color: #000;
}

.nav-links > *:hover {
    color: #f19a3e;
  }
