.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coins-count {
  font-size: 2em;
  font-weight: bold;
}

.coins-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container button {
  background-color: transparent;
  border: thin solid #f19a3e;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
}

.home-container button:hover {
  background-color: #f19a3e;
  color: #fff;
}

.products-container {
    width: 90%;
    display: flex;
    margin: 50px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
    margin: 0 20px;
}

.card > * {
    margin-bottom: 10px;
}

.logout {
    margin: 20px 0;
}